*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
html{
  width:100%;
  height:100%;
}
.home{
  background-image:linear-gradient(rgba(0,0,0,0.95),rgba(0,0,0,0.5)), url("../image/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
nav{
  width: 100%;
  height: 15vh;
  background: rgba(255,255,255,0.5);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
nav .logo{
  width: 25%;
  text-align: center;
}
nav .menu{
  width: 40%;
  display: flex;
  justify-content: space-between;
}
nav .menu a{
  width: 25%;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

main{
  width: 100%;
  height: 30vh;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
section{
 width: 100%;
 height: 20;
}
section h3{
  font-size: 35px;
  font-weight: 200;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px wheat;
}
section h1{
  margin: 30px 0 20px 0;
  font-size: 55px;
  font-weight: 700;
  text-shadow: 2px 1px 5px grey;
  text-transform: uppercase;
}

section p{
  font-size: 25px;
  word-spacing: 2px;
  text-shadow: 1px 1px 1px white;
}
form{
  width: 70%;
  height: 25vh;
  margin: 0px 15%;
  padding: 60px 110px;
  background: rgba(255,255,255,0.2);
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bolder;
  text-decoration: none;
  letter-spacing: 2px;
  display: inline-block ;
  position:relative;
  justify-content: center;
  color: white;
}
.formgeneral{
  height: 12vh;
  margin: 10px 15%;
  background: rgba(0,0,0,0.6);
  padding: 25px 110px;
}
form input{
  padding: 7px 25px;
  border: none;
  font-size: large;
  font-weight: bold;
  border-radius: 12px;
}
.formgeneral input{
  font-size: medium;
  padding: 5px 20px;
}
form .btnone{
  background: white;
  color: black;
  text-align: center;
  text-decoration: none;
  margin: 5px;
}
.btnone:hover {
  background-color: #fc0394;
  color: white;
}

.change_content:after{
  content: '';
  animation: changetext 10s infinite linear;
  color: #fc0394;
}

@keyframes changetext{
  0%{content: "AAPL";}
  20%{content: "GOOG";}
  40%{content: "AMZN";}
  60%{content: "C";}
  80%{content: "FB";}
  100%{content: "SNOW";}
}

.history{
  width: 100%;
  height: 71vh;
  border-collapse: collapse;
  font-family: 'Josefin Sans', sans-serif;
  padding: 20% 20%;
  margin: 5% 15%;
  justify-content: center;
  text-align: center;
  overflow: auto;
  table-layout: auto;
}

.history tbody{
display:block;
width: 70%;
overflow: auto;
height: 80%;
}

.history th {
 position: sticky; top: 0;
} 

.history thead {
background: black;
color:#fff;
display: block;
position: sticky; top: 0;
}

.history th, .history td {
border: 1px solid #ddd;
padding: 8px;
text-align: left;
width: 70%;
}

.history tr:nth-child(even){background-color: #f2f2f2;}
.history tr:nth-child(odd){background-color: rgba(255,255,255,0.2); color:white;}

.history tr:hover {background-color: #fc0394; color: white;}

.history th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(0,0,0,0.5); ;
  color: white;
  text-transform: uppercase;
}
.addfundh3{
  color:#fc0394;
  text-align: center;
}
